@import "main.css";

.card {
  background-color: var(--main-color);
}

.about > div > h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.25px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  margin-top: 64px;
  margin-bottom: 24px;
}

.about_sides {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about_sides_left > h3 {
  max-width: 557px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  margin-bottom: 24px;
}

.about_sides_left > p {
  max-width: 557px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  letter-spacing: 0.25px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}

.about_sides > img {
  background: url(.jpg);
  border-radius: 6px;
}

.better h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.25px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  padding-top: 67px;
}

.boxes {
  display: flex;
  justify-content: space-around;
  padding-top: 24px;
}

.box {
  width: 294px;
  height: 144px;
  background: #ffffff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 45px;
}

.app > div {
  margin-top: 240px;
  display: flex;
  justify-content: space-between;
  background: radial-gradient(100% 1071.07% at 0% 0%, #0f0d2b 0%, #0c0926 100%);
}

.app > div > img {
  margin-top: -230px;
}

.app > div > div > h2 {
  max-width: 753px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 140%;
  letter-spacing: 0.25px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
  padding-top: 40px;
  padding-bottom: 24px;
}

.app > div > div > p {
  max-width: 738px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.44px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
  padding-bottom: 40px;
}

.app > div > div > div {
  display: flex;
  column-gap: 32px;
  align-items: center;
  padding-bottom: 56px;
}

.address > div {
  display: flex;
  margin-top: 153px;
  margin-bottom: 128px;
}

.address > div > iframe {
  max-width: 705px;
  max-height: 624px;
}

.address_right {
  max-width: 460px;
  margin: auto;
}

.address_right > h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 64px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}

.address_list {
  display: flex;
  column-gap: 128px;
  row-gap: 36px;
  flex-wrap: wrap;
}

.address_list_item > h4 {
  max-width: 166px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}

.address_list_item > p {
  max-width: 166px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
.categorybottom {
  display: none;
}

@media only screen and (max-width: 600px) {

  .about > div > h1 {
    margin-right: 110px;
  }
 
  .about_sides {
    display: flex;
    flex-direction: column-reverse;
  }

  .about_sides > img {
    max-width: 319px;
  }

  .app > div {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 40px;
  }

  .app > div > img {
    position: absolute;
    max-width: 123px;
    padding-top: 120px;
  }

  .address > div {
    display: flex;flex-direction: column;
  }

  .categorybottom {
    display: block;
  }

  .categorybottom > div > h3 {
    width: 303px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
    margin-top: 36px;
    margin-bottom: 32px;
  }

  .categorybottom_sides {
    display: flex;
    gap: 71px;
    margin-bottom: 36px;
  }

  li {
    list-style-type: none;
  }

  .categorybottom_list_item {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
    margin-bottom: 12px;
    text-decoration: none;
  }

  .secon_side {
    margin-bottom: 16px;
  }

  .categorybottom_line {
    max-width: 375px;
    height: 1px;
    border: 1px solid #dbdee7;
    margin-bottom: 32px;
  }

  .categorybottom_bottom_left {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    column-gap: 18px;
  }

  .categorybottom_bottom_left > p {
    max-width: 265px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
    margin-bottom: 17px;
  }

  footer {
    display: none;
  }
}
