@import "main.css";

.categories > div > h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 140%;
  margin: auto;
  letter-spacing: 0.25px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  margin-top: 64px;
  margin-bottom: 24px;
  text-align: center;
}

.categories_list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 24px;
}

.categories_list_item {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categories_list_item > img {
  max-width: 244px;
  background: url(Rectangle_4-removebg-preview.png), #eeeeee;
  border-radius: 8px;
  margin-bottom: 26px;
}

.categories_list_item > a {
  display: inline-block;
  max-width: 201px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
  letter-spacing: 0.02em;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  text-align: center;
}

.categorybottom {
  display: none;
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 550px;
  }

  .categories > div > h2 {
    margin-bottom: 31px;
  }

  .categories_list {
    column-gap: 15px;
  }

  .categories_list_item > img {
    max-width: 152px;
    margin-bottom: 8px;
  }

  .categories_list_item > a {
    font-size: 14px;
    text-align: left;
    color: black;
  }

  .categorybottom {
    display: block;
  }

  .categorybottom > div > h3 {
    width: 303px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
    margin-top: 36px;
    margin-bottom: 32px;
  }

  .categorybottom_sides {
    display: flex;
    gap: 71px;
    margin-bottom: 36px;
  }

  li {
    list-style-type: none;
  }

  .categorybottom_list_item {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
    margin-bottom: 12px;
    text-decoration: none;
  }

  .secon_side {
    margin-bottom: 16px;
  }

  .categorybottom_line {
    max-width: 375px;
    height: 1px;
    border: 1px solid #dbdee7;
    margin-bottom: 32px;
  }

  .categorybottom_bottom_left {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    column-gap: 18px;
  }

  .categorybottom_bottom_left > a {
    max-width: 265px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
    margin-bottom: 17px;
  }

  footer {
    display: none;
  }
}
